# Spreadsheet data with Python

This is my first Project of Data Analysis with Python. In this project i am going to analyze the data to output the beautiful results.

Installing openpyxl--It makes us easier to analyze the data

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\sudipnext\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\sudipnext\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp310-cp310-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 1.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sudipnext\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.21.0
  Downloading numpy-1.22.4-cp310-cp310-win_amd64.whl (14.7 MB)
     ---------------------------------------- 14.7/14.7 MB 9.8 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\sudipnext\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\sudipnext\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.22.4 pandas-1.4.2
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

Importing the required modules

In [4]:
import pandas as pd

Reading the EXCEL File

In [9]:
df_facilities = pd.read_excel("Downloads/Airport_Data.xlsx", sheet_name="Facilities")

In [10]:
df_facilities

,SiteNumber,Type,LocationID,EffectiveDate,Region,DistrictOffice,State,StateName,County,CountyState,...,AirportPositionSource,AirportPositionSourceDate,AirportElevationSource,AirportElevationSourceDate,ContractFuelAvailable,TransientStorage,OtherServices,WindIndicator,IcaoIdentifier,BeaconSchedule2
0,50009.*A,AIRPORT,'ADK,3/30/2017,AAL,NONE,AK,ALASKA,ALEUTIANS WEST,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,HGR,CARGO,Y,PADK,SS-SR
1,50016.1*A,AIRPORT,'AKK,3/30/2017,AAL,NONE,AK,ALASKA,KODIAK ISLAND,AK,...,NACO,00:00:00,NACO,00:00:00,NaN,NaN,NaN,Y,PAKH,NaN
2,50017.*A,AIRPORT,'Z13,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,STATE,00:00:00,STATE,00:00:00,NaN,NaN,CARGO,Y-L,NaN,SEE RMK
3,50017.1*C,SEAPLANE BASE,'KKI,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
4,50020.*A,AIRPORT,'AKI,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,STATE,00:00:00,STATE,00:00:00,NaN,NaN,CARGO,Y-L,PFAK,SS-SR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,50920.12*C,SEAPLANE BASE,'2Y3,3/30/2017,AAL,NONE,AK,ALASKA,SKAGWAY-YAKUTAT,AK,...,FAA-EST,00:00:00,NaN,NaN,NaN,TIE,CARGO,NaN,NaN,NaN
747,50920.*A,AIRPORT,'YAK,3/30/2017,AAL,NONE,AK,ALASKA,SKAGWAY-YAKUTAT,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,HGR,CARGO,Y-L,PAYA,SS-SR
748,50925.1*A,AIRPORT,'A77,3/30/2017,AAL,NONE,AK,ALASKA,KUSKOKWIM,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,NaN,NaN,NaN
749,50928.*C,SEAPLANE BASE,'78K,3/30/2017,AAL,NONE,AK,ALASKA,KETCHIKAN GATEWAY,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,N,NaN,NaN
750,50990.*A,AIRPORT,'L20,3/30/2017,AAL,NONE,AK,ALASKA,UPPER YUKON,AK,...,FAA-EST,00:00:00,NaN,NaN,NaN,NaN,CARGO,Y,NaN,NaN

Data Loading Complete
Now checking the type column from the data

In [11]:
df_facilities["Type"]

0            AIRPORT
1            AIRPORT
2            AIRPORT
3      SEAPLANE BASE
4            AIRPORT
           ...
746    SEAPLANE BASE
747          AIRPORT
748          AIRPORT
749    SEAPLANE BASE
750          AIRPORT
Name: Type, Length: 751, dtype: object

Finding Unique data from type column

In [12]:
df_facilities["Type"].unique()

array(['AIRPORT', 'SEAPLANE BASE', 'HELIPORT'], dtype=object)

In [14]:
df_facilities["Type"]== "SEAPLANE BASE"

0      False
1      False
2      False
3       True
4      False
       ...
746     True
747    False
748    False
749     True
750    False
Name: Type, Length: 751, dtype: bool

NOW OUTPUTTING THE TABLE CONTAINING ONLY THE SEAPLANE BASE i.e Provide a table containing the information for all Seaplane Bases in Alaska

In [15]:
df_facilities[df_facilities["Type"]=="SEAPLANE BASE"]

,SiteNumber,Type,LocationID,EffectiveDate,Region,DistrictOffice,State,StateName,County,CountyState,...,AirportPositionSource,AirportPositionSourceDate,AirportElevationSource,AirportElevationSourceDate,ContractFuelAvailable,TransientStorage,OtherServices,WindIndicator,IcaoIdentifier,BeaconSchedule2
3,50017.1*C,SEAPLANE BASE,'KKI,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
5,50022.*C,SEAPLANE BASE,'KQA,3/30/2017,AAL,NONE,AK,ALASKA,ALEUTIANS EAST,AK,...,STATE,00:00:00,STATE,00:00:00,NaN,NaN,NaN,Y,NaN,NaN
8,50027.52*C,SEAPLANE BASE,'Z33,3/30/2017,AAL,NONE,AK,ALASKA,BRISTOL BAY,AK,...,NaN,NaN,NaN,NaN,NaN,TIE,NaN,NaN,NaN,NaN
15,50031.5*C,SEAPLANE BASE,'AK81,3/30/2017,AAL,NONE,AK,ALASKA,KODIAK ISLAND,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
24,50035.2*C,SEAPLANE BASE,'3C3,3/30/2017,AAL,NONE,AK,ALASKA,ANCHORAGE,AK,...,OWNER,00:00:00,OWNER,00:00:00,NaN,NaN,NaN,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,50877.32*C,SEAPLANE BASE,'MFN,3/30/2017,AAL,NONE,AK,ALASKA,MATANUSKA-SUSITNA,AK,...,OWNER,00:00:00,OWNER,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
734,50877.01*C,SEAPLANE BASE,'2X2,3/30/2017,AAL,NONE,AK,ALASKA,MATANUSKA-SUSITNA,AK,...,FAA-EST,00:00:00,STATE,00:00:00,NaN,TIE,CHTR,Y,NaN,NaN
737,50905.*C,SEAPLANE BASE,'68A,3/30/2017,AAL,NONE,AK,ALASKA,WRANGELL-PETERSBURG,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,Y,NaN,NaN
746,50920.12*C,SEAPLANE BASE,'2Y3,3/30/2017,AAL,NONE,AK,ALASKA,SKAGWAY-YAKUTAT,AK,...,FAA-EST,00:00:00,NaN,NaN,NaN,TIE,CARGO,NaN,NaN,NaN
749,50928.*C,SEAPLANE BASE,'78K,3/30/2017,AAL,NONE,AK,ALASKA,KETCHIKAN GATEWAY,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,N,NaN,NaN

What are the 5 highest aviation facilities in Alaska?

In [20]:
df_facilities.sort_values("ARPElevation", ascending= False).head(5)

,SiteNumber,Type,LocationID,EffectiveDate,Region,DistrictOffice,State,StateName,County,CountyState,...,AirportPositionSource,AirportPositionSourceDate,AirportElevationSource,AirportElevationSourceDate,ContractFuelAvailable,TransientStorage,OtherServices,WindIndicator,IcaoIdentifier,BeaconSchedule2
584,50739.1*A,AIRPORT,'AA09,3/30/2017,AAL,NONE,AK,ALASKA,MATANUSKA-SUSITNA,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
630,50738.20*A,AIRPORT,'93AK,3/30/2017,AAL,NONE,AK,ALASKA,MATANUSKA-SUSITNA,AK,...,OWNER,00:00:00,OWNER,00:00:00,NaN,NaN,CARGO,Y,NaN,NaN
265,50324.6*A,AIRPORT,'4Z5,3/30/2017,AAL,NONE,AK,ALASKA,SOUTHEAST FAIRBANKS,AK,...,FAA OE/AAA,00:00:00,FAA OE/AAA,00:00:00,NaN,NaN,NaN,Y,NaN,NaN
582,50738.01*A,AIRPORT,'2AK7,3/30/2017,AAL,NONE,AK,ALASKA,MATANUSKA-SUSITNA,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,50439.18*A,AIRPORT,'AK80,3/30/2017,AAL,NONE,AK,ALASKA,MATANUSKA-SUSITNA,AK,...,OWNER,00:00:00,OWNER,00:00:00,NaN,NaN,NaN,Y,NaN,NaN

What is the average elevation of aviation facilities?

In [21]:
df_facilities["ARPElevation"].mean()

425.93209054593876

In [22]:
df_facilities["ARPElevation"].min()

0

In [23]:
df_facilities["ARPElevation"].max()

3984

Writing to xlsx Files!

In [24]:
df_seaplane = df_facilities[df_facilities["Type"]== "SEAPLANE BASE"]

In [25]:
df_seaplane.to_excel("./seaplane.xlsx")